# Symfony
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/public/assets/
/assets/vendor/
/var/
/vendor/


# Tools
/.phpunit.cache/
/.php-cs-fixer.cache
/phpstan.neon.local

# Node (release tooling only)
/node_modules/

# OS and IDE
.DS_Store
/.idea/
/.vscode/

###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
/.phpunit.cache/
###< phpunit/phpunit ###
